.catalog-page__container {
  width: 320px;
  padding: 30px 30px 58px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .catalog-page__container {
    width: $tablet-width;
    padding: 75px 50px 63px;
  }

  .catalog-page__goods {
    padding-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-page__container {
    width: $desktop-width;
    padding: 127px 50px 105px;
  }

  .catalog-page__goods {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    padding-bottom: 57px;
  }
}
