.catalog-page__container {
  width: 320px;
  padding: 30px 30px 58px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .catalog-page__container {
    width: $tablet-width;
    padding: 30px 50px 58px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-page__container {
    width: $desktop-width;
  }

  .catalog-page__goods {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    padding-bottom: 30px;
  }

  .catalog-page__item {
    align-items: stretch;
    flex-grow: 1;
    height: 100%;
  }
}
