.contacts__wrapper {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto 39px auto;
}

.contacts__title {
  padding: 0;
  margin: 0 0 42px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__data {
  display: flex;
  width: 260px;
  padding: 0;
  margin: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;

  &--email {
    margin-bottom: 23px;
  }
}

.contacts__data-title {
  display: inline-block;
  min-height: 30px;
  margin-right: 28px;

  &--address {
    min-width: 46px;
  }
}

.contacts__data-link {
  color: #444444;
  box-shadow: inset 0 1px 0 1px #ffffff,
    inset 0 0 0 1px #62d1ba;
}

.contacts__map {
  display: flex;
  justify-content: center;
  margin-bottom: 39px;
}

.contacts__map-iframe {
  width: 100%;
  height: 457px;
  margin-bottom: 58px;

  border: none;
}

.contacts__write-to-us {
  width: 260px;
  min-height: 52px;
  padding: 20px 10px;

  font-size: 18px;
}
