.contacts__wrapper {
  width: 320px;
  padding: 39px 30px;
  margin: 0 auto;
}

.contacts__title {
  padding: 0;
  margin: 0 0 42px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__data {
  display: flex;
  width: 260px;
  padding: 0;
  margin: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;

  &--email {
    margin-bottom: 23px;
  }
}

.contacts__data-title {
  display: inline-block;
  min-height: 30px;
  margin-right: 28px;

  &--address {
    min-width: 46px;
  }
}

.contacts__data-link {
  color: #444444;
  box-shadow: inset 0 1px 0 1px #ffffff,
    inset 0 0 0 1px #62d1ba;

  &:active {
    color: #46c1ae;
    opacity: 0.3;
  }
}

.contacts__map {
  display: flex;
  justify-content: center;
}

.contacts__write-to-us {
  width: 260px;
  min-height: 52px;
  padding: 20px 10px;

  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: $tablet-width;
    padding: 39px 50px;
  }

  .contacts__title {
    width: 668px;
    padding: 25px 0;
    margin-bottom: 0;

    font-size: 43px;
    line-height: 50px;

    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: center right;
  }

  .contacts__data {
    display: flex;
    font-size: 17px;
    width: 334px;
  }

  .contacts__map-picture {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 633px;
  }

  .contacts__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: $desktop-width;
    margin-right: 0;

    &--data {
      order: -2;
      width: 525px;
    }

    &--write-to-us {
      order: -1;
      width: 525px;
      padding-left: 163px;
    }
  }

  .contacts__title {
    width: 425px;
    padding-left: 113px;

    font-size: 53px;
    line-height: 57px;

    background-position: center left;
  }

  .contacts__map {
    width: 525px;
  }

  .contacts__data {
    width: 425px;
    padding-left: 113px;
  }

  .contacts__data-link:hover {
    color: #46c1ae;
  }
}
