.description {
  margin-bottom: 28px;
  border-collapse: collapse;
}

.description__set {
  display: block;
  width: 260px;

  box-shadow: inset 0 1px 0 1px #ffffff,
    inset 0 0 0 1px rgba(68, 68, 68, 0.2);
}

.description__sort {
  min-width: 98px;
  padding: 11px 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.description__value {
  padding: 11px 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}
