.extra-list {
  display: none;
}


@media (min-width: $tablet-width) {
  .extra-list {
    display: flex;

    @include reset-list;

    background-color: #f9f9f9;
  }

  .extra-list__item--hidden {
    display: none;
  }

  .extra-list__item--free {
    width: 384px;
    margin: 0;
    padding: 25px 50px 25px 0;
    text-align: end;
  }

  .extra-list__link {
    padding: 0;
    margin: 0;

    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
  }
}

@media (min-width: $desktop-width) {
  .extra-list__item {
    width: 262px;

    &--hidden {
      display: block;
    }

    &--free {
      width: 576px;
      padding-right: 50px;
    }

    &:first-child {
      width: 312px;
      padding-left: 50px;
    }
  }
}
