.footer-page {
  background-color: #f1f1f1;
}

.footer-page__logo--hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .footer-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 143px;
    padding: 52px 50px 58px;
  }

  .footer-page__logo--hidden {
    display: block;
    margin-top: -6px;
  }
}
