.footer-page {
  background-color: #f1f1f1;
}

.footer-page__logo--hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .footer-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 143px;
    padding: 52px 50px 58px;
  }

  .footer-page__logo--hidden {
    display: block;
    margin-top: -6px;
  }

  .footer-page__logo {
    position: relative;

    &::before {  // что бы в IE11 работал :active
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: "";

      width: 0;
      height: 0;

      display: block;
    }

    &:active {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer-page__logo {
    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
