.global-btn {
  display: block;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #444444;
  text-align: center;
  text-transform: uppercase;

  border: 2px solid #444444;
  background-color: #ffffff;

  &:active {
    color: rgba (68, 68, 68, 0.3);
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .global-btn:active {
    color: rgba (68, 68, 68, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .global-btn {
    display: block;

    &:hover {
      color: #ffffff;

      background-color: #444444;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      opacity: 1;
    }
  }
}
