.header-menu {
  @include reset-list;
}

.header-menu__link {
  display: flex;
  justify-content: flex-start;
  padding: 32px 76px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &--cart {
    padding: 32px 46px 32px 30px;
  }

  &--search {
    padding: 32px 46px 32px 30px;
  }

  &::before {
    display: block;

    content: "";

    height: 20px;

    background-repeat: no-repeat;
    opacity: 0.2;
  }

  /* &--search::before {
    width: 20px;
    margin-right: 25px;

    background-image: url("../img/icon-search.svg");
  }

  &--cart::before {
    width: 21px;
    margin-right: 25px;

    background-image: url("../img/icon-cart.svg");
  }

  &--cart::before:active a[href],
  &--search::before:active a[href] {
    background-color: #63d1bb;
  }*/
}

.header-menu__link-svg {
  margin-right: 25px;

  opacity: 0.2;

  &:active {
    opacity: 0.3;

    path {
      fill: #63d1bb;
    }
  }
}

.header-menu__item {
  width: 320px;
  min-height: 79px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  &--cart {
    z-index: 5;

    background-color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .header-menu {
    display: flex;

    /* &--darkgray {
      background-color: #f1f1f1;
    } */
  }

  .header-menu__item {
    width: 184px;
    min-height: 88px;

    box-shadow: none;

    &--cart {
      flex-shrink: 0;
      min-width: 280px;
      margin-left: auto;

      background-color: transparent;

      box-shadow: none;
    }

    &--search {
      flex-shrink: 0;
      width: 85px;

      box-shadow: 1px 0 0 #ececec, inset 1px 0 0 #ececec;
    }

    &--to-order {
      width: 167px;

      box-shadow: none;
    }

    &--catalog {
      width: 167px;
      box-shadow: none;
    }
  }

  .header-menu__link-svg {
    margin-right: 0;
  }

  .header-menu__text {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .header-menu__link {
    flex-shrink: 0;
    padding: 33px 0;
    min-width: 167px;

    font-size: 15px;

    &--search {
      display: flex;
      justify-content: center;
      min-width: 85px;
      height: 100%;
    }

    &--cart {
      display: flex;
      justify-content: space-between;
      min-width: 264px;
      padding: 35px 0;

      font-size: 17px;
    }

    &--to-order {
      height: 100%;
      padding: 13px 0;
    }

    &--catalog {
      height: 100%;
      padding: 13px 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .header-menu__item--catalog {
    width: 184px;
    flex-shrink: 0;
  }

  .header-menu__link {
    font-size: 17px;

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &--to-order {
      padding: 35px 0;

      background-color: #ffffff;
    }

    &--catalog {
      padding: 35px 0;
      background-color: #ffffff;
    }

    .header-menu__link-svg:hover { // TODO сделать что бы по наведению на ссылку менялся цвет иконки
      opacity: 1;

      path {
        fill: #63d1bb;
      }

      &:active {
        opacity: 0.3;

        path {
          fill: #63d1bb;
        }
      }
    }
  }
}
