.header-nav__logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 320px;
  min-height: 79px;
  padding: 23px 30px 20px;
  margin: 0 auto;

  &:active a[href] {
    opacity: 0.3;
  }
}

.header-nav__logo-link {
  margin-right: 67px;
}

@media (max-width: $tablet-width) {
  .header-nav__logo {
    width: 320px;

    box-shadow: 0 1px 0 #ececec;
  }

  .header-nav__toggle {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;

    border: none;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 20px 20px;

    &--open {
      background-image: url("../img/icon-menu-close.svg");
    }

    &--closed {
      background-image: url("../img/icon-menu-open.svg");

      transform: scaleY(0.7);
    }

    &--no-js {
      display: none;
    }
  }
}

.header-nav__block-menu {
  display: none;
}

@media (min-width: $tablet-width) {
  .header-nav {
    position: relative;
    z-index: 5;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: $tablet-width;
    padding: 0 50px;
    margin: 0 auto;
  }

  .header-nav__logo {
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    align-self: stretch;
    flex-shrink: 0;
    order: -2;
    width: 320px;
    min-height: 88px;
    padding: 0;
  }

  .header-nav__block-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    order: 2;
    margin: 0;
    padding: 0;

    font-weight: 400;
    color: #444444;
    font-size: 15px;
    line-height: 24px;
  }

  .header-nav__block-title {
    width: 334px;
    min-height: 88px;
    padding: 17px 0 17px 103px;
    margin: 0;

    text-align: end;
    letter-spacing: -0.001em;

    background-color: transparent;

    &--inner-page {
      background-color: transparent;
    }
  }

  .header-nav__menu--user {
    justify-content: flex-end;
    order: -1;
  }

  .header-nav__menu--nav {
    flex-shrink: 0;
    padding-left: 50px;
  }

  .header-nav__extra-list {
    order: 2;
  }

  .header-nav__toggle {
    display: none;
  }

  .header-nav__logo-link {
    margin: 5px 0 0 0;
  }
}

@media (min-width: $desktop-width) {
  .header-nav {
    width: $desktop-width;
    padding: 0;
  }

  .header-nav__block-title {
    order: 2;
    margin: 0;
  }

  .header-nav__block--left {
    order: -1;
  }

  .header-nav__block-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;

    border-top: 1px solid #ececec;
    background-color: #f9f9f9;

    &--inner-page {
      background-color: #f1f1f1;
    }
  }

  .header-nav__logo {
    justify-content: center;
    flex-shrink: 0;
    order: -1;
    width: 307px;
    padding: 0 40px 0 0;
    margin: 0 0 0 0;

    &:hover a[href] {
      opacity: 0.6;
    }

    &:active a[href] {
      opacity: 0.3;
    }
  }

  .header-nav__logo-link picture {
    display: block;
  }

  .header-nav__menu--nav {
    order: -2;
    flex-shrink: 0;
  }
}
