.order__fieldset {
  padding: 0;
  margin: 0 0 34px 0;

  border: none;
}

.order__description {
  width: 245px;
  padding: 0;
  margin: 0 0 30px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.order__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  margin: 0 0 16px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;

  &::after {
    content: "";

    display: block;
    width: 198px;
    height: 1px;

    background-color: #62d1ba;
  }

  &--email::after {

    width: 179px;
  }

  &--add {
    margin-bottom: 23px;
  }
}

.order__form-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 0;

  &::before {
    position: absolute;
    top: 10px;

    content: "";

    background-repeat: no-repeat;
    opacity: 0.2;
  }

  &--tel::before {
    right: 8px;

    width: 25px;
    height: 25px;

    background-image: url("../img/icon-phone.svg");
  }

  &--email::before {
    right: 4px;

    width: 32px;
    height: 26px;

    background-image: url("../img/icon-mail.svg");
  }
}

.order__block {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &--name,
  &--surname,
  &--middle-name {
    flex-direction: column;
    margin-bottom: 25px;
  }

  &--middle-name {
    margin-bottom: 0;
  }
}

.order__form-input {
  width: 260px;
  height: 52px;

  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
  font-family: inherit;

  border: none;
  box-shadow: inset 0 -2px 0 #000000;
  background-color: #ffffff;

  &--tel,
  &--email {
    padding-right: 38px;
  }

  &:focus {
    color: rgba(68, 68, 68, 1);

    box-shadow: inset 0 -2px 0 #62d1ba;
  }

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}

.order__form-add {
  width: 260px;
  height: 142px;
  padding: 18px 17px;
  margin: 0;

  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
  font-family: inherit;

  border: 2px solid #444444;
  background-color: #ffffff;

  resize: none;
}

.order__label {
  color: #000000;
  font-weight: 700;

  &--radio {
    display: flex;
    flex-shrink: 0;
    align-items: center;
  }

  &--accessory {
    width: 260px;
    margin: 0 0 25px 0;
  }
}

.order__label-text {
  display: flex;
  padding-top: 8px;
}

.order__radio {
  display: flex;

  &:checked ~ .order__label::before {
    content: "";

    display: flex;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-right: 22px;

    border: solid 2px #444444;
    border-radius: 50%;
    box-shadow: inset 0 0 0 8px #ffffff,
      inset 0 0 0 18px #62d1ba;

    cursor: pointer;
  }

  & ~ .order__label:active::before,
  &:checked ~ .order__label:active::before {
    border: solid 2px rgba(68, 68, 68, 0.3);
  }
}

.order__radio ~ .order__label::before {
  content: "";

  display: flex;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 22px;

  border: 2px solid #444444;
  border-radius: 50%;
  background-color: #ffffff;

  cursor: pointer;
}

.order__checkbox {
  position: relative;
  display: flex;

  & ~ .order__label::before {
    content: "";

    display: flex;
    width: 40px;
    height: 39px;
    margin-right: 23px;

    border: 2px solid #444444;

    cursor: pointer;
  }

  &:checked ~ .order__label::before {

    content: "";

    display: flex;
    width: 40px;
    height: 39px;

    border: 2px solid #444444;
    background-image: url("../img/icon-tick.svg");
    background-position: 7px 10px;
    background-repeat: no-repeat;

    cursor: pointer;
  }

  & ~ .order__label:active::before,
  &:checked ~ .order__label:active::before {
    border: solid 2px rgba(68, 68, 68, 0.3);
  }
}

.order__label--checkbox {
  display: flex;
  align-items: center;
  width: 260px;
  padding-top: 12px;
  margin-bottom: 30px;
}

.order__description-required {
  margin: 0 0 31px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.order__btn-submit {
  width: 100%;
  padding: 20px 10px;
  margin: 0;

  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .order__description {
    width: 677px;
    padding: 68px  55px 30px 0;
    margin: 0 auto;

    font-size: 17px;
    line-height: 30px;
  }

  .order__checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .order__form-wrapper {
    padding-left: 0;
    width: 501px;

    &--checkbox {
      flex-direction: row;
      flex-wrap: wrap;
      width: 250px;
      padding-left: 0;
    }

    &--email,
    &--tel {
      width: 100%;
      padding-left: 0;
    }
  }

  .order__fieldset {
    display: flex;
    align-items: center;
    width: 677px;
    padding: 50px 0;
    margin: 0 auto;

    &--darkgray {
      width: 100%;
      margin-bottom: 0;

      background-color: #f1f1f1;
    }
  }

  .order__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .order__container-darkgray {
    display: flex;
    align-items: center;
    width: 677px;
    margin: 0 auto;
  }

  .order__container-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 677px;
    padding-bottom: 50px;
    margin: 0 auto;
  }

  .order__title {
    width: 167px;
    flex-shrink: 0;
    margin: 0;

    &::after {
      display: none;
    }

    &--colour {
      align-self: flex-start;
      padding-top: 19px;
    }
  }

  .order__block {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &--surname,
    &--middle-name,
    &--name {
      flex-direction: row;
      margin-bottom: 24px;
    }
  }

  .order__form-input {
    width: 100%;
    padding: 16px 17px;
    margin-left: 26px;

    font-size: 19px;

    &--email,
    &--tel {
      background-color: #f1f1f1;
      margin-left: 0;
      padding-right: 38px;
    }
  }

  .order__label {
    font-size: 19px;

    &--accessory {
      width: 334px;
    }
  }

  .order__label-text {
    padding-top: 0;
  }

  .order__form-add {
    width: 500px;
    padding: 17px 17px;

    font-size: 19px;
  }

  .order__btn-submit {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .order__radio ~ .order__label:hover::before,
  .order__radio:checked ~ .order__label:hover::before,
  .order__checkbox ~ .order__label:hover::before,
  .order__checkbox:checked ~ .order__label:hover::before {
    border: solid 2px #62d1ba;
  }

  .order__radio ~ .order__label:active::before,
  .order__radio:checked ~ .order__label:active::before,
  .order__checkbox ~ .order__label:active::before,
  .order__checkbox:checked ~ .order__label:active::before {
    border: solid 2px rgba(68, 68, 68, 0.3);
  }

  .order__container-darkgray {
    width: 1050px;
  }

  .order__form-wrapper {
    width: 875px;
    padding-right: 175px;

    &--checkbox {
      flex-direction: row;
      flex-shrink: 0;
      padding-right: 0;
    }

    &--email::before,
    &--tel::before {
      right: 179px;
    }
  }

  .order__title {
    width: 175px;
    flex-shrink: 0;
  }

  .order__form-input {
    font-size: 19px;
    color: rgba(68, 68, 68, 1);

    &:hover {
      box-shadow: inset 0 -2px 0 #62d1ba;
    }

    /* &:focus {
      color: rgba(68, 68, 68, 1);

      box-shadow: inset 0 -2px 0 #62d1ba;
    } */
  }

  .order__description {
    width: 700px;
    padding-right: 20px;
  }

  .order__fieldset {
    width: 1050px;

    &--darkgray {
      width: 100%;
    }
  }

  .order__form-add {
    width: 700px;
  }

  .order__container-submit {
    width: 700px;
  }
}
