.production {
  border: 1px solid #ececec;
  padding-bottom: 33px;
}


.production__title {
  display: flex;
  padding: 29px 43px 26px 34px;
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  &::before {

    content: "";

    display: flex;
    flex-shrink: 0;
    width: 33px;
    height: 32px;
    margin-right: 25px;

    background-image: url("../img/icon-video.svg");
    background-position: 0 0;
  }
}

.production__image-wrapper {
  position: relative;

  &::after {
    position: absolute;
    top: 37px;
    right: 79px;
    z-index: 5;

    content: "";

    width: 101px;
    height: 78px;

    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;

    cursor: pointer;
  }

  &:active::after {
    width: 81px;
    height: 62px;
    opacity: 0.3;
  }
}

.production__image-picture {
  display: block;
  width: 260px;
  height: 150px;
}

.production__description {
  padding: 34px 43px 29px 34px;
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.production__link-order {
  width: 192px;
  min-height: 52px;
  padding: 20px 0 16px;
  margin: 0 0 0 34px;

  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .production {
    display: flex;
    flex-direction: column;
  }

  .production__image-wrapper {
    order: -1;

    &::after {
      top: 189px;
      right: 283px;

      width: 101px;
      height: 78px;
    }
  }

  .production__image-picture {
    display: block;
    width: 668px;
    height: 455px;
  }

  .production__title {
    padding: 39px 43px 26px 42px;

    font-size: 20px;
  }

  .production__description {
    padding: 17px 43px 29px 40px;

    font-size: 15px;
    line-height: 30px;
  }

  .production__link-order {
    width: 584px;
    min-height: 52px;
    margin: 0 0 0 42px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    flex-wrap: wrap;
    height: 455px;
  }

  .production__image-wrapper {
    position: relative;

    &::after {
      top: 189px;
      right: 291px;

      width: 101px;
      height: 78px;
    }

    &:active::after {
      width: 81px;
      height: 62px;
      opacity: 0.3;
    }

    &:hover::after {
      width: 121px;
      height: 92px;
    }
  }

  .production__image-picture {
    display: block;
    width: 682px;
    height: 455px;
  }

  .production__title {
    width: 350px;
    height: 100px;
    padding: 39px 43px 26px 42px;
  }

  .production__description {
    width: 350px;
  }

  .production__link-order {
    width: 230px;
  }
}
