.production {
  border: 1px solid #ececec;
  padding-bottom: 33px;
}

.production__title {
  display: flex;
  padding: 25px 43px 23px 34px;
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  &::before {

    content: "";

    display: flex;
    flex-shrink: 0;
    width: 33px;
    height: 32px;
    margin-right: 25px;

    background-image: url("../img/icon-video.svg");
    background-position: 0 5px;
  }
}

.production__image-picture {
  position: relative;

  display: block;
  width: 260px;
  height: 150px;

  &::after {
    position: absolute;
    top: 37px;
    right: 79px;

    content: "";

    width: 101px;
    height: 78px;

    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;

    cursor: pointer;
  }
}

.production__description {
  padding: 27px 37px 25px 34px;
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.production__link-order {
  width: 192px;
  min-height: 52px;
  padding: 16px 0 16px;
  margin: 0 auto;

  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .production {
    position: relative;

    padding-bottom: 45px;

    display: flex;
    flex-direction: column;
  }

  /* {
    position: relative;

     &::after {
      top: 189px;
      right: 283px;
    } */

  /*&:active::after {
       width: 81px; маштобировать
      height: 62px ;
      opacity: 0.3;
    }
  }*/

  .production__image-picture {
    position: static;
    display: block;
    order: -1;
    width: 668px;
    height: 455px;

    &::after {
      top: 189px;
      right: 283px;
    }
  }

  .production__title {
    padding: 39px 43px 5px 42px;

    font-size: 20px;
    letter-spacing: 0.01em;

    &::before {
      margin-right: 30px;

      background-position: 0 -5px;
    }
  }

  .production__description {
    padding: 17px 43px 36px 40px;

    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.002em;
  }

  .production__link-order {
    width: 584px;
    min-height: 52px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    position: relative;

    flex-wrap: wrap;
    align-items: flex-end;
    min-height: 455px;
    padding: 7px 57px 0 0;
  }

  .production__image-picture {
    position: absolute;
    top: 0;
    left: 0;

    width: 682px;
    height: 455px;

    &::after {
      top: 189px;
      right: 291px;

      width: 101px;
      height: 78px;
    }

    &:active::after {
      width: 81px;
      height: 62px;
      opacity: 0.3;
    }

    /*&:hover::after {
       width: 121px;
      height: 92px;
    }*/
  }

  .production__title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-end;
    width: 160px;
    min-height: 135px;
    padding: 39px 0 1px 35px;
    margin-right: 106px;

    &::before {
      margin-right: 30px;

      background-position: 0 -5px;
    }
  }

  .production__description {
    width: 250px;
    padding: 32px 3px 46px 20px;
  }

  .production__link-order {
    width: 230px;
    margin: 0 0 62px 0;
  }
}
