.production__title {
  display: flex;
  padding: 29px 10px 26px 34px;
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  &::before {

    content: "";

    display: block;
    width: 41px;
    height: 32px;
    margin-right: 25px;

    background-image: url("../img/icon-video.svg");
    background-position: 0 0;
  }
}

.production__image {
  position: relative;

  display: block;

  &::before {
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 5;

    content: "";

    width: 101px;
    height: 57px;

    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
  }
}

.production__description {
  padding: 34px 43px 29px 34px;
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.production__link-order {
  width: 192px;
  min-height: 52px;
  padding: 20px 0 16px;
  margin: 0 0 91px 34px;

  line-height: 16px;
}
