.specification {
  width: 260px;
  padding: 27px 24px 27px 29px;

  border: 1px solid #ececec;
  background-color: #ffffff;
}

.specification__block-price {
  display: flex;
  justify-content: space-between;
  padding: 21px 0 0;
}

.specification__block-info {
  padding-bottom: 20px;

  box-shadow: inset 0 1px 0 1px #ffffff,
    inset 0 0 0 1px rgba(68, 68, 68, 0.2);
}

.specification__title {
  display: flex;
  align-items: stretch;
  padding: 0;
  margin: 0 0 4px 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.specification__options {
  position: relative;

  padding: 0;
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.specification__price {
  display: inline-block;
  padding: 0;
  margin: 0;

  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.specification__button {
  padding: 0;
  margin: 0;

  border: none;
  background-color: #ffffff;
  opacity: 0.2;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .specification {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
  }

  .specification__block-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: none;
  }

  .specification__block-price {
    box-shadow: inset 0 -1px 0 1px #ffffff,
      inset 0 0 0 1px rgba(68, 68, 68, 0.2);
  }
}

@media (min-width: $desktop-width) {
  .specification {
    width: 316px;
    height: 100%;
  }

  .specification__title {
    margin: 0;
  }

  .specification__block-price {
    padding: 27px 0 0;
  }

  .specification__svg:hover {
    path {
      fill: #63d1bb;
    }
  }

  .specification__svg:active {
    path {
      fill: #63d1bb;
      opacity: 0.3;
    }
  }
}
