.specification {
  width: 260px;
  padding: 30px 28px;

  border: 1px solid #ececec;
  background-color: #ffffff;
}

.specification__block-price {
  display: flex;
  justify-content: space-between;
  padding: 27px 0 30px;
}

.specification__block-info {
  padding-bottom: 26px;

  box-shadow: inset -28px 1px 0 1px #ffffff,
    inset -28px 0 0 1px rgba(68, 68, 68, 0.2);
}

.specification__title {
  padding: 0;
  margin: 0 0 17px 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.specification__options {
  position: relative;

  padding: 0;
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.specification__price {
  display: inline-block;
  padding: 0;
  margin: 0;

  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.specification__button {
  padding: 0;
  margin: 0;

  border: none;
  background-color: #ffffff;
  opacity: 0.2;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .specification {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .specification {
    width: 316px;
  }
}
