.thing {
  margin: 0;
  padding: 34px 30px 36px;

  &::before {//TODO Пока так сдюда воткнул что бы не забыть (не придумал как оставить в потоке )
    position: absolute;
    top: 80px;
    left: -30px;

    content: "";

    width: 319px;
    height: 6px;
    //TODO не понимаю почему она так видоизменяется эта полоска. В svg надо что то поменять ?
    background-image: url("../img/bg-zigzag-line.svg");
    background-position: center bottom;
  }
}

.thing__title {
  padding: 0;
  margin: 0 0 8px 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.thing__rating {
  display: flex;
  margin: 0 0 30px 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.thing__promo {
  width: 249px;
  min-height: 63px;
  padding: 0;
  margin: 0 0 33px 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.thing__description {
  margin-bottom: 28px;
}

.thing__picture {
  width: 260px;
  height: 315px;
  padding: 0;
  margin: 0 0 28px 0;
}

.thing__image {
  display: block;
  width: 100%;
  height: auto;
}

.thing__price {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 18px;
  padding: 0;
  margin: 0 0 28px 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
}

.thing__order {
  position: relative;

  width: 259px;
  min-height: 12px;
  padding: 20px 10px;

  &::before {//TODO Пока так сдюда воткнул что бы не забыть (не придумал как оставить в потоке )
    position: absolute;
    top: 80px;
    left: -30px;

    content: "";

    width: 319px;
    height: 6px;
    //TODO не понимаю почему она так видоизменяется эта полоска. В svg надо что то поменять ?
    background-image: url("../img/bg-zigzag-line.svg");
  }
}

@media (min-width: $tablet-width) {
  .thing {
    padding: 43px 50px 35px;
  }

  .thing__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px 55px 0;
  }

  .thing__block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 470px;
  }

  .thing__title {
    margin-bottom: 0;

    font-size: 43px;
    line-height: 50px;
  }

  .thing__rating {
    width: 70px;
    margin-bottom: 0;

    line-height: 17px;
  }

  .thing__promo {
    width: 282px;
    margin-bottom: 54px;

    font-size: 17px;
    line-height: 30px;
  }

  .thing__description {
    width: 334px;
  }

  .thing__picture {
    order: 1;
    width: 333px;
    height: 404px;
    margin-bottom: 0;
  }

  .thing__price {
    font-size: 20px;
    width: 334px;
    padding: 31px 46px 0 0;
    margin-bottom: 34px;
  }

  .thing__order {
    width: 292px;
  }
}
